<h2>Put Your Url in The Box</h2>


<% if @acsu.errors.any? %>
	<% @acsu.errors.full_messages.each do |msg| %>
		<span class="label label-warning"><%= msg %></span>
	<% end %>
<% end %>


<%= form_for @acsu, :url => ac_sus_path, :method => "post" do |f| %>
	<div class="form-group">
		<%= f.label "Target url is:" %>
		<%= f.url_field :target , :class => "form-control" %>
	</div>
	<div class="form-group">
		<%= f.submit "Create" , :class => "btn btn-primary"%>
		<%= link_to "powered by EJ", "https://ilovemilk.com.tw/" ,:class=>"btn btn-default"%>
	</div>
<% end %>

